mat-card {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
  }

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #007bff;
}


